*{
    margin: 0;
    padding: 0;
}

.App{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
}


.header{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}



.header .nav ul{
   display: flex;
   align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    list-style-type: none;
}
.header .nav ul li{
    text-decoration: none !important;
    padding: 0 10px;
    list-style: none;
 }

.home-contianr
{
    display: flex;
    justify-content: center;
    height: 90vh;
}

.home-contianr .movie-title
{
    max-width: 40%;
    display: flex;
    align-items: center;
    color: whitesmoke;
}

.home-contianr .movie-title h1
{
    
    padding-bottom: 15px;
    font-size: 3rem;
}

.home-contianr .movie-title .movie-info
{
    padding-left: 8%;
}

.home-contianr .carousel
{
    width: 50%;
    height: 100%;
}